---
title: Go Static, My Friend
---

<section>
  <section>
    <h1>In the beginning...</h1>
  </section>

  <section>
    <h1>Dynamic Web Sites</h1>
  </section>

  <section>
    <h1>Database</h1>
  </section>

  <section>
    <h1>Data<span class='strikethrough'>base</span></h1>
  </section>

  <section>
    <ul>
      <li>Data driven</li>
      <li>Static</li>
    </ul>
  </section>

  <section>
    <%= image_tag '/images/middleman.png' %>
  </section>
</section>

<section>
  <section>
    <h1>What is Middleman?</h1>
    <ul>
      <li class="fragment">Static Site Generator...</li>
      <li class="fragment">Built on top of Padrino...</li>
      <li class="fragment">Built on top of Sinatra...</li>
      <li class="fragment">Which is a Rack application.</li>
    </ul>
    <br>
    <p class="fragment">That last bit is important...</p>
  </section>
