---
title: Go Static, My Friend
---

<section>
  <section>
    <h1>In the beginning...</h1>
  </section>

  <section>
    <img src="http://media.web.britannica.com/eb-media/73/78373-050-2D15D41C.jpg">
  </section>

  <section>
    <h1>Static Web Sites</h1>
  </section>

  <section>
    <h1>Dynamic Web Sites</h1>
  </section>

  <section>
    <h1>Database</h1>
  </section>

  <section>
    <h1>Data<span class='strikethrough'>base</span></h1>
  </section>

  <section>
    <h1>Static Web Site</h1>
  </section>

  <section>
    <%= image_tag '/images/middleman.png' %>
  </section>
</section>

<section>
  <section>
    <h2>What is Middleman?</h2>
    <ul>
      <li class="fragment">Static site generator...</li>
      <li class="fragment">Built on top of Padrino...</li>
      <li class="fragment">Built on top of Sinatra...</li>
      <li class="fragment">Which is a Rack application.</li>
    </ul>
    <br>
    <blockquote class="fragment">That last bit is important...</blockquote>
  </section>
</section>
