---
title: Go Static, My Friend
---

<section>
  <section>
    <h1>In the beginning...</h1>
  </section>

  <section>
    <figure>
      <img src="http://media.web.britannica.com/eb-media/73/78373-050-2D15D41C.jpg">
      <figcaption>Source: <a href="http://media.web.britannica.com/eb-media/73/78373-050-2D15D41C.jpg">Encyclopedia Britannica</a></figcaption>
    </figure>
  </section>

  <section>
    <h1>Static Web Sites</h1>
  </section>

  <section>
    <h1>Dynamic Web Sites</h1>
  </section>

  <section>
    <h1>Database</h1>
  </section>

  <section>
    <h1>Datastore</h1>
  </section>

  <section>
    <h1>Data<span class='strikethrough'>base</span></h1>
  </section>

  <section>
    <h1>Static Web Site</h1>
  </section>

  <section>
    <%= image_tag '/images/middleman.png' %>
  </section>
</section>

<section>
  <section>
    <h2>What is Middleman?</h2>
    <ul>
      <li class="fragment">Static site generator...</li>
      <li class="fragment">Built on top of Padrino...</li>
      <li class="fragment">Built on top of Sinatra...</li>
      <li class="fragment">Which is a Rack application.</li>
    </ul>
    <br>
    <blockquote class="fragment">That last bit is important...</blockquote>
  </section>

  <section>
    <h2>View Layer</h2>
    <ul>
      <li>Templates</li>
      <li>Layouts</li>
      <li>Partials</li>
      <li>View Helpers</li>
    </ul>
  </section>

  <section>
    <h2>Templating Options</h2>
    <ul>
      <li>ERb</li>
      <li>HAML</li>
      <li>Markdown</li>
      <li>Others</li>
    </ul>
  </section>

  <section>
    <h2>Templating Systems are Composable</h2>
    <pre class="fragment">index.markdown.erb</pre>
  </section>

  <section>
    <h2>Data Layer</h2>
    <ul>
      <li>Frontmatter</li>
      <li>Local Data</li>
    </ul>
  </section>

  <section>
    <h2>Configuration Driven</h2>
    <pre><code data-trim>
config.rb
    </code></pre>
  </section>
</section>

<section>
  <section>
    <h1>Front matter</h1>
  </section>

  <section>
    <h2>Front Matter</h2>
    <ul>
      <li>Attached to the current page</li>
      <li>Available through the <code>current_page.data</code> method</li>
    </ul>
  </section>

  <section>
    <h2>YAML</h2>
    <pre><code data-trim>
---
title: A Sample Team Page
---
    </code></pre>
  </section>

  <section>
    <h2>JSON</h2>
    <pre><code data-trim>
;;;
"title": "A Sample Team Page"
;;;
    </code></pre>
  </section>

  <section>
    <pre><code data-trim>
<h1><%%= current_page.data.title %></h1>
    </code></pre>
  </section>
</section>

<section>
  <section>
    <h1>Local Data</h1>
  </section>

  <section>
    <h2>Local Data</h2>
    <ul>
      <li>JSON or YAML</li>
      <li>Stored under <code>data</code></li>
    </ul>
  </section>

  <section>
    <h2><code>data/team.yml</code></h2>
    <pre><code class="yaml">
---
-
  slug: fred
  name: Frederic Jean
  title: Senior Bit Twiddler
  bio: Something really clever goes here...
    </code></pre>
  </section>

  <section>
    <h2>Using local data in a page</h2>
    <pre><code class="html" data-trim>
<%% data.team.each do |member| %>
   <%%= image_tag "team/#{member.slug}.png", width: '25%', height: '25%' %>
  <h2><%%= link_to member.name, "/team/" + member.slug %></h2>
<%% end %>
    </code></pre>
  </section>

  <section>
    <h2>Dynamic Pages</h2>
    <pre><code class="ruby" data-trim>
data.team.each do |member|
  proxy "/team/#{member.slug}.html", "team/team.html",
        locals: { member: member }, ignore: true
end
    </code></pre>
  </section>

  <section>
    <h2>Data in Proxy Page</h2>
    <pre><code data-trim>
<article>
  <h1><%%= member.name %> &mdash; <%%= member.title %></h1>
  <%%= image_tag "team/#{member.slug}.png" %>
  <%%= member.bio %>
  <aside>
    <%% if member[:twitter] %>
       <%%= link_to "twitter", "http://twitter.com/#{member.twitter}" %>
    <%% end %>

    <%% if member[:github] %>
       <%%= link_to "github", "https://github.com/#{member.github}" %>
    <%% end %>
  </aside>
</article>
    </code></pre>
  </section>
</section>

<section>
  <section>
    <h1>Publishing</h1>
  </section>

  <section>
    <pre><code>
$ middleman build
    </code></pre>
  </section>

  <section>
    <h2>Configure S3 for Website Hosting</h2>
    <%= image_tag 'S3_Management_Console.png' %>
  </section>

  <section>
    <h2>Configure Middleman S3 Sync</h2>
    <pre><code data-trim>
activate :s3_sync do |sync|
  sync.bucket = 'go-static.fredjean.net'
  sync.region = 'us-west-1'
end
    </code></pre>
  </section>

  <section>
    <h2>Push</h2>
    <pre><code data-trim>
middleman s3_sync
    </code></pre>
  </section>

  <section>
    <h2>Setup DNS</h2>
    <ul>
      <li>ALIAS for "naked domains"</li>
      <li>CNAME is sufficient for sub-domains</li>
      <li class="fragment">Amazon Route 53 works best</li>
      <li class="fragment">DNSimple works pretty good though</li>
    </ul>
  </section>
</section>

<section>
  <section>
    <h1>Wrapping Up</h1>
  </section>

  <section>
    <ul>
      <li class="fragment">Building a data driven site</li>
      <li class="fragment">using Middleman</li>
      <li class="fragment">and publishing it on S3</li>
    </ul>
  </section>

  <section>
    <figure>
      <img src="http://media.web.britannica.com/eb-media/73/78373-050-2D15D41C.jpg">
      <figcaption>Source: <a href="http://media.web.britannica.com/eb-media/73/78373-050-2D15D41C.jpg">Encyclopedia Britannica</a></figcaption>
    </figure>
  </section>

  <section class="whoami">
    <%= image_tag 'avatar.png', class: 'avatar' %>
    <ul>
      <li>Frederic Jean</li>
      <li>Bit Twiddler @ <a href="http://bounce.io">Bounce.io</a></li>
      <li><a href="mailto:fred@fredjean.net">fred@fredjean.net</a></li>
      <li><a href="http://twitter.com/fredjean">@fredjean</a></li>
    </ul>
  </section>
</section>
