---
title: Go Static, My Friend
---

<section>
  <section>
    <h1>In the beginning...</h1>
  </section>

  <section>
    <figure>
      <img src="http://media.web.britannica.com/eb-media/73/78373-050-2D15D41C.jpg">
      <figcaption>Source: <a href="http://media.web.britannica.com/eb-media/73/78373-050-2D15D41C.jpg">Encyclopedia Britannica</a></figcaption>
  </section>

  <section>
    <h1>Static Web Sites</h1>
  </section>

  <section>
    <h1>Dynamic Web Sites</h1>
  </section>

  <section>
    <h1>Database</h1>
  </section>

  <section>
    <h1>Datastore</h1>
  </section>

  <section>
    <h1>Data<span class='strikethrough'>base</span></h1>
  </section>

  <section>
    <h1>Static Web Site</h1>
  </section>

  <section>
    <%= image_tag '/images/middleman.png' %>
  </section>
</section>

<section>
  <section>
    <h2>What is Middleman?</h2>
    <ul>
      <li class="fragment">Static site generator...</li>
      <li class="fragment">Built on top of Padrino...</li>
      <li class="fragment">Built on top of Sinatra...</li>
      <li class="fragment">Which is a Rack application.</li>
    </ul>
    <br>
    <blockquote class="fragment">That last bit is important...</blockquote>
  </section>

  <section>
    <h2>Structure</h2>
    <pre><code data-trim>
.
├── Gemfile
├── Gemfile.lock
├── config.rb
└── source
    </code></pre>
  </section>

  <section>
    <h2>Structure</h2>
    <pre><code data-trim>
.
├── Gemfile
├── Gemfile.lock
├── build
├── config.rb
└── source
    </code></pre>
  </section>

  <section>
    <h2>Source Structure</h2>
    <pre><code data-trim>
source
├── images
├── index.html.erb
├── js
├── layouts
├── lib
├── plugin
└── stylesheets
    </code></pre>
  </section>

  <section>
    <h2>Templating Options</h2>
    <ul>
      <li>ERb</li>
      <li>HAML</li>
      <li>Markdown</li>
      <li>Others</li>
    </ul>
  </section>

  <section>
    <h2>Templating Systems are Composable</h2>
    <pre class="fragment">index.markdown.erb</pre>
  </section>
</section>

<section>
  <section>
    <h2>DATA</h2>
    <ol>
      <li>Frontmatter</li>
      <li>Local Data</li>
    </ol>
  </section>
</section>

<section>
  <section>
    <h1>Front matter</h1>
  </section>
  <section>
    <pre><code data-trim>
---
title: Go Static Young Man!
date: 2013-04-19 16:35 MDT
tags:
---

There are many options available for blog posting. There are SaaS
solutions where the blogging infrastructure is managed for you. There
are a few self-hosted solution where you (or your organization) is
    </code></pre>
  </section>

  <section>
    <h2>Front Matter</h2>
    <ul>
      <li>Attached to the current page</li>
      <li>Available through the <code>current_page.data</code> method</li>
    </ul>
  </section>
  <section>
    <pre><code data-trim>
<article>
  <h1><%%= current_page.data.title %></h1>
  <%%= yield %>
  <%%= partial :byline, locals: { article: current_article } %>
</article>
    </code></pre>
</section>
